---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/common/Section.astro";
import ArticleSnippet from "../../components/ArticleSnippet.astro";
import { getCollection } from "astro:content";
import { getConfigurationCollection, getBaseUrl } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
const baseUrl = await getBaseUrl();

const articles = (await getCollection("blog")).map((article) => ({
  ...article.data,
  url: `${baseUrl}/blog/${article.data.slug}`,
}));
---

<Layout>
  <Fragment slot="head">
    <title>{config.blogMeta.title}</title>
    <meta
      name="description"
      content={config.blogMeta.longDescription ?? config.blogMeta.description}
    />
    <meta property="og:title" content={config.blogMeta.title} />
    <meta
      property="og:description"
      content={config.blogMeta.description}
    />
    {config.blogMeta.keywords && (
      <meta name="keywords" content={config.blogMeta.keywords.join(", ")} />
    )}
    {config.blogMeta.cardImage && (
      <meta property="og:image" content={config.blogMeta.cardImage} />
    )}
    <meta property="og:url" content={`${baseUrl}/blog`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={config.blogMeta.title} />
    <meta
      name="twitter:description"
      content={config.blogMeta.description}
    />
    {config.blogMeta.cardImage && (
      <meta name="twitter:image" content={config.blogMeta.cardImage} />
    )}
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={`${baseUrl}/blog`} />
  </Fragment>
  <Section class="my-16">
    <h1 class="text-3xl sm:text-4xl font-display pb-8">
      {config.texts.articlesName}
    </h1>
    {articles.length > 0 ? (
      <div class="space-y-8">
        {articles.map((article) => (
          <ArticleSnippet
            title={article.title}
            description={article.description}
            url={article.url}
            timestamp={article.timestamp}
            duration={article.readTime ? `${article.readTime} min` : undefined}
          />
        ))}
      </div>
    ) : (
      <p>{config.texts.noArticles}</p>
    )}
  </Section>
</Layout>
