---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/common/Section.astro";
import ProjectSnippet from "../../components/ProjectSnippet.astro";
import { getCollection } from "astro:content";
import { getConfigurationCollection, getBaseUrl } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
const baseUrl = await getBaseUrl();

const projects = (await getCollection("project")).map((project) => ({
  ...project.data,
  url: `${baseUrl}/projects/${project.data.slug}`,
}));
---

<Layout>
  <Fragment slot="head">
    <title>{config.projectMeta.title}</title>
    <meta
      name="description"
      content={config.projectMeta.longDescription ?? config.projectMeta.description}
    />
    <meta property="og:title" content={config.projectMeta.title} />
    <meta
      property="og:description"
      content={config.projectMeta.description}
    />
    {config.projectMeta.keywords && (
      <meta name="keywords" content={config.projectMeta.keywords.join(", ")} />
    )}
    {config.projectMeta.cardImage && (
      <meta property="og:image" content={config.projectMeta.cardImage} />
    )}
    <meta property="og:url" content={`${baseUrl}/projects`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={config.projectMeta.title} />
    <meta
      name="twitter:description"
      content={config.projectMeta.description}
    />
    {config.projectMeta.cardImage && (
      <meta name="twitter:image" content={config.projectMeta.cardImage} />
    )}
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={`${baseUrl}/projects`} />
  </Fragment>
  <Section class="my-16">
    <h1 class="text-3xl sm:text-4xl font-display pb-8">
      {config.texts.projectsName}
    </h1>
    {projects.length > 0 ? (
      <div class="space-y-8">
        {projects.map((project) => (
          <ProjectSnippet
            title={project.title}
            description={project.description}
            url={project.url}
            githubUrl={project.githubUrl}
            liveUrl={project.liveDemoUrl}
            tags={project.tags ?? []}
          />
        ))}
      </div>
    ) : (
      <p>{config.texts.noProjects}</p>
    )}
  </Section>
</Layout>
